{% extends "base.html" %}
{% load i18n %}
{% load add_field_css %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
           <h4 class="card-title mb-0">{% trans "Add Speaker to" %} {{ team.long_name }}</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% include "components/form-errors.html" %}

            {% for field in form %}
              {% include "components/form-field.html" with field=field %}
            {% endfor %}

            <div class="mt-4">
              <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
              <a href="{% url 'participants-team-record' tournament.slug team.pk %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
